<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Thymeleaf課題</title>
</head>
<body>
    <h1 th:text="#{content.title}"></h1>
    <h2 th:text="#{content.inputmessage}"></h2>
    <p th:text="#{content.message}"></p>
        <p th:if="${previous != ''}">
       前回入力された値は「<span th:text="${previous}"></span>」でした。
    </p>
    <form method="post" action="/output">
        <input type="text" id="val" name="val" th:value="${previous}">
        <button type="submit", th:text="#{content.button}"></button>
    </form>
</body>
</html>